name: pull requests

on:
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: windows-latest
    if: contains(github.event.head_commit.message, 'ci skip') == false

    steps:
      - uses: actions/checkout@v2
      - uses: nuget/setup-nuget@v1
      - uses: microsoft/setup-msbuild@v1.0.2
    
      - uses: dorny/paths-filter@v2
        id: changes
        with:
          filters: |
            buildprops:
              - 'Directory.Build.props'
      - name: Update version
        if: steps.changes.outputs.buildprops == 'false'
        run: |
            (Get-Content Directory.Build.props) | % { 
                $m = [regex]::match($_, '<Version>(0|[1-9]\d*)\.(0|[1-9]\d*)\.(0|[1-9]\d*)(?:-((?:0|[1-9]\d*|\d*[a-zA-Z-][0-9a-zA-Z-]*)(?:\.(?:0|[1-9]\d*|\d*[a-zA-Z-][0-9a-zA-Z-]*))*))?(?:\+([0-9a-zA-Z-]+(?:\.[0-9a-zA-Z-]+)*))?</Version>');
                if(!$m.Success -or $m.Groups[4].Success -or $m.Groups[5].Success) { $_; }
                else { $_ -replace $m.Value, ("<Version>{0}.{1}.{2}-ci${{ github.run_number }}</Version>" -f $m.Groups[1].Value,$m.Groups[2].Value,([convert]::ToInt32($m.Groups[3].Value)+1)); }
            } | Set-Content Directory.Build.props
        
      - name: NuGet restore
        run: nuget restore LibreHardwareMonitor.sln
    
      - name: Build
        run: msbuild LibreHardwareMonitor.sln -p:Configuration=Release -m
     
      - name: Publish net452
        uses: actions/upload-artifact@v2
        with:
          name: LibreHardwareMonitor-net452
          path: |
            bin/Release/net452
            
      - name: Publish netstandard20
        uses: actions/upload-artifact@v2
        with:
          name: LibreHardwareMonitorLib-netstandard20
          path: |
            bin/Release/netstandard2.0
      - name: Publish net50
        uses: actions/upload-artifact@v2
        with:
          name: LibreHardwareMonitorLib-net50
          path: |
            bin/Release/net5.0
      - name: Publish nupkg
        uses: actions/upload-artifact@v2
        with:
          name: LibreHardwareMonitorLib-nupkg
          path: |
            bin/Release/LibreHardwareMonitorLib.*.nupkg
